contracts/build
contracts/.coverage*
contracts/coverage.json
scripts/index*db*
dapp/src/contracts
builds
contracts/node_modules
coverage
contracts/zos.dev*.json
contracts/contracts/Oracle_*.sol
.idea
.env
venv
.cache
__pycache__
*.pyc
*.log
contracts/contracts/Oracle_*
contracts/.openzeppelin/
node_modules
dapp/contracts/*
dapp/src/contracts/*
