# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Dot env
.env

# Node
node_modules/
yarn.lock
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# Optional REPL history
.node_repl_history

# Coverage
coverage
coverage.json

# To remove in a library
build/

# openzeppeling deploy
.openzeppelin/
.openzeppelin/.session

moc-*-*.tgz

package-lock.json
