# Editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Dot env
.env

# Node
node_modules/
yarn.lock
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache
# Optional REPL history
.node_repl_history

# Coverage
coverage
coverage.json

# openzeppeling deploy
.openzeppelin/
.openzeppelin/.session

# Don't add contracts source code to npm
contracts/
*.sol
test/
scripts/
