aiodns==1.1.1
aiofiles==0.4.0
aiohttp==3.6.2
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
base58==1.0.3
ccxt==1.20.3
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorlog==4.1.0
cryptography==2.8
cytoolz==0.10.1
dateparser==0.7.2
decorator==4.4.1
dnspython==1.16.0
email-validator==1.0.5
eth-abi==2.0.0
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.8.4
fastapi==0.43.0
h11==0.8.1
hexbytes==0.2.0
httptools==0.0.13
idna==2.8
importlib-metadata==1.1.0
ipfshttpclient==0.4.12
Jinja2==2.10.3
jsonschema==3.2.0
lru-dict==1.1.6
MarkupSafe==1.1.1
more-itertools==8.0.0
multiaddr==0.0.8
multidict==4.6.1
mypy-extensions==0.4.3
netaddr==0.7.19
packaging==19.2
parsimonious==0.8.1
peewee==3.13.1
pluggy==0.13.1
protobuf==3.11.1
py==1.8.0
pycares==3.0.0
pycparser==2.19
pycryptodome==3.9.4
pydantic==0.32.2
pyparsing==2.4.5
pyrsistent==0.15.6
pytest==5.3.1
pytest-asyncio==0.10.0
pytest-shell==0.2.1
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2019.3
regex==2019.12.9
requests==2.22.0
rlp==1.2.0
six==1.13.0
starlette==0.12.9
toolz==0.10.0
typing-extensions==3.7.4.1
tzlocal==2.0.0
urllib3==1.25.7
uvicorn==0.10.8
uvloop==0.14.0
varint==1.0.2
wcwidth==0.1.7
-e git+https://github.com/ethereum/web3.py@7d26aaccc2db3bcc3fbbcff0af8b36b3af9e2d00#egg=web3
websockets==8.1
yarl==1.1.0
zipp==0.6.0
